Read raw files then cleaning into list+dict format
'area_data'=[
            {'area_name'='N1', 
                'sub_data'=[
                    {'sub_name': 'NIA', 
                        'feeder_data':[
                            {'feeder_name':'OUT01', 
                                'meatering_data':{'P':{'date_01': [p1,p2,p3,...p96], 'date_02':[p1,p2,p3,...p96]}, 
                                                  'Q':{'date_01': [q1,q2,q3,...q96], 'date_02':[q1,q2,q3,...q96]}}]}]}
                            ]
            }, 
            {'area_name'='C1'}]}

In [53]:
ex_dict={'N1':{'NIA':{'OUT01':{'P':{'01012018':['p1','p2','p3','p4','p5','p96'], 
                                   '02012018':'sample'}, 
                               
                               'Q':{'01012018':['q1','q2','q3','q4','q5','q96'], 
                                   '02012018':'sample'}}, 
                      'OUT02':'sample'}, 
               'NIB':'sample','NIU':'sample'}, 
         'C1':{'BKA':'sample', 'BKU':'sample', 'NVA':'sample', 'NVB':'sample','NVC':'sample', 'NVD':'sample',  
              'RGA':'sample', 'RSA':'sample', 'TMS':'sample'}}

In [55]:
ex_dict['N1']['NIA']['OUT01']['Q']['01012018']

['q1', 'q2', 'q3', 'q4', 'q5', 'q96']

In [14]:
import pandas as pd 
import os
import numpy as np
os.chdir("raw_files")

read_file N1

In [62]:
df_1=pd.read_csv('NIA-P.csv', sep=',')

In [63]:
df_1.head()

,Date,Month,Year,Time,PS,Sub_name,VL,Feeder_name,Unit,Measurement,WERT_MIT,DIM
0,1,JAN,2018,00.00.00,PS,:NIA,115,FDR:TP1,MV,:P,4.170241,MW
1,1,JAN,2018,00.00.00,PS,:NIA,115,FDR:TP2,MV,:P,6.122674,MW
2,1,JAN,2018,00.00.00,PS,:NIA,22,FDR:INC01,MV,:P,4.224416,MW
3,1,JAN,2018,00.00.00,PS,:NIA,22,FDR:OUT01,MV,:P,1.094030,MW
4,1,JAN,2018,00.00.00,PS,:NIA,22,FDR:OUT02,MV,:P,0.540316,MW

In [68]:
list_time=df_1['Time'].unique()
list_substation=df_1['Sub_name'].unique()

In [69]:
print(list_substation)

[':NIA']

In [70]:
len(df_1)

376648

read_file C1

In [2]:
df_2=pd.read_csv('c1_2.csv', sep=',')

In [3]:
df_2.head()

,Area,Substation,Type,Feeder,Date1,Unnamed: 5,Unnamed: 6,Ia,Ib,Ic,MW,MVAR,PF
0,C1,BKA,HV_CB,01YB01,11/13/18,12:00:00,AM,40.148823,40.258686,39.697163,3.705960,1.307232,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C1,BKA,HV_CB,01YB01,11/13/18,12:30:00,AM,38.256737,37.646385,37.536522,3.503040,1.127808,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C1,BKA,HV_CB,01YB01,11/13/18,1:00:00,AM,38.745018,38.415428,37.719627,3.550032,1.174800,0.0

In [4]:
df_2=df_2.dropna(axis=0, how='all').copy()
df_2=df_2.reset_index().copy()
del df_2['index']

In [5]:
df_2.head()

,Area,Substation,Type,Feeder,Date1,Unnamed: 5,Unnamed: 6,Ia,Ib,Ic,MW,MVAR,PF
0,C1,BKA,HV_CB,01YB01,11/13/18,12:00:00,AM,40.148823,40.258686,39.697163,3.705960,1.307232,0.0
1,C1,BKA,HV_CB,01YB01,11/13/18,12:30:00,AM,38.256737,37.646385,37.536522,3.503040,1.127808,0.0
2,C1,BKA,HV_CB,01YB01,11/13/18,1:00:00,AM,38.745018,38.415428,37.719627,3.550032,1.174800,0.0
3,C1,BKA,HV_CB,01YB01,11/13/18,1:30:00,AM,41.454971,41.308487,41.052139,3.802080,1.354224,0.0
4,C1,BKA,HV_CB,01YB01,11/13/18,2:00:00,AM,40.637100,40.539444,40.234272,3.718776,1.330728,0.0

In [6]:
list_substation=df_2['Substation'].unique()
list_time=df_2['Unnamed: 5'].unique()

In [42]:
dict_C1={'C1':
         {'{}'.format(sub_name):
          {'{}'.format(feeder_name):
           {'P_MV':{'{}'.format(date):'MV in each date data' for date in list(df_2.loc[list(set(np.where(df_2['Substation']==sub_name)[0]).
                                                              intersection(np.where(df_2['Feeder']==feeder_name)[0]))]) },
            'Q_MVAR':'MVAR values'}
           for feeder_name in list(df_2.loc[list(set(np.where(df_2['Substation']==sub_name)[0])),'Feeder'])} 
          for sub_name in list_substation}}

KeyboardInterrupt:

In [43]:
dict_C1

{'C1': {'BKA': {'01YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '02YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '03YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '04YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '05YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '06YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '07YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'}},
  'BKU': {'01YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '02YB02': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'}},
  'NVA': {'01YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '02YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '03YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '04YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '05YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '06YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'}},
  'NVB': {'01YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '02YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '03YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '04YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '05YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'}},
  'NVC': {'01YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '02YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '03YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '04YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '0BYB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'}},
  'NVD': {'01YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '02YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '03YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '04YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '05YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '06YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '07YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '08YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '09YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '10YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '11YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'}},
  'RGA': {'01YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '02YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '03YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '04YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'}},
  'RSA': {'01YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '02YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'}},
  'TMS': {'01YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '02YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '03YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '04YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '05YB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'},
   '0BYB01': {'P_MV': 'MV values', 'Q_MVAR': 'MVAR values'}}}}

In [44]:
dict_C1={'C1':
         {'{}'.format(sub_name):
          {'{}'.format(feeder_name):'feeder data'
#            {'P_MV':{'{}'.format(date):'MV in each date data' for date in list(df_2.loc[list(set(np.where(df_2['Substation']==sub_name)[0]).
#                                                               intersection(np.where(df_2['Feeder']==feeder_name)[0]))]) },
#             'Q_MVAR':'MVAR values'}
           for feeder_name in list(df_2.loc[list(set(np.where(df_2['Substation']==sub_name)[0])),'Feeder'])} 
          for sub_name in list_substation}}

In [45]:
dict_C1

{'C1': {'BKA': {'01YB01': 'feeder data',
   '02YB01': 'feeder data',
   '03YB01': 'feeder data',
   '04YB01': 'feeder data',
   '05YB01': 'feeder data',
   '06YB01': 'feeder data',
   '07YB01': 'feeder data'},
  'BKU': {'01YB01': 'feeder data', '02YB02': 'feeder data'},
  'NVA': {'01YB01': 'feeder data',
   '02YB01': 'feeder data',
   '03YB01': 'feeder data',
   '04YB01': 'feeder data',
   '05YB01': 'feeder data',
   '06YB01': 'feeder data'},
  'NVB': {'01YB01': 'feeder data',
   '02YB01': 'feeder data',
   '03YB01': 'feeder data',
   '04YB01': 'feeder data',
   '05YB01': 'feeder data'},
  'NVC': {'01YB01': 'feeder data',
   '02YB01': 'feeder data',
   '03YB01': 'feeder data',
   '04YB01': 'feeder data',
   '0BYB01': 'feeder data'},
  'NVD': {'01YB01': 'feeder data',
   '02YB01': 'feeder data',
   '03YB01': 'feeder data',
   '04YB01': 'feeder data',
   '05YB01': 'feeder data',
   '06YB01': 'feeder data',
   '07YB01': 'feeder data',
   '08YB01': 'feeder data',
   '09YB01': 'feeder data',
   '10YB01': 'feeder data',
   '11YB01': 'feeder data'},
  'RGA': {'01YB01': 'feeder data',
   '02YB01': 'feeder data',
   '03YB01': 'feeder data',
   '04YB01': 'feeder data'},
  'RSA': {'01YB01': 'feeder data', '02YB01': 'feeder data'},
  'TMS': {'01YB01': 'feeder data',
   '02YB01': 'feeder data',
   '03YB01': 'feeder data',
   '04YB01': 'feeder data',
   '05YB01': 'feeder data',
   '0BYB01': 'feeder data'}}}

In [27]:
name='BKU'
date='11/13/18'
time='12:00:00'
df_2.iloc[list(set(np.where(df_2['Substation']==name)[0]).intersection(np.where(df_2['Unnamed: 5']==time)[0]).intersection(np.where(df_2['Date1']==date)[0]))]

,Area,Substation,Type,Feeder,Date1,Unnamed: 5,Unnamed: 6,Ia,Ib,Ic,MW,MVAR,PF
29568,C1,BKU,HV_CB,01YB01,11/13/18,12:00:00,AM,239.628784,239.628784,239.628784,45.386066,18.390591,0.0
33792,C1,BKU,HV_CB,02YB02,11/13/18,12:00:00,AM,239.628784,239.628784,239.628784,45.386066,18.390591,0.0
29592,C1,BKU,HV_CB,01YB01,11/13/18,12:00:00,PM,182.525558,182.525558,182.525558,33.917835,15.556855,0.0
33816,C1,BKU,HV_CB,02YB02,11/13/18,12:00:00,PM,182.525558,182.525558,182.525558,33.917835,15.556855,0.0

In [ ]:
df_2.drop()

In [ ]:
dict_final={
    name:{
        date:
        list(df.loc[list(set(np.where(df['PEA_number'] == name)[0]).intersection(np.where(df['Date'] == date)[0])),'Wh']) 
        for date in list_date} 
    for name in list_cust}