In [3]:
RANDOM_STATE = 31415

In [2]:
from scipy.stats import uniform
import numpy as np
import pandas as pd
import seaborn
dataset = seaborn.load_dataset('titanic')
import scipy
import scipy.stats
import matplotlib
import matplotlib.pyplot as plt

In [287]:
    dict_MC_AMR={}
bin =[-0.01]+[x for x in np.arange(0,2000,10)]
size_of_MC=20
dict_2=np.load('AMR_CI_dict.npy')[()]
# # print(dict_2)
num_1=0
for key1 in list(dict_2.keys()):
#     print('{}/{}'.format(num_1,len(list(dict_2.keys()))))
#     dict_MC_AMR.update({key1:{}})
#     dict_2[key1]['working_day'].pop('mean', None)
#     dict_2[key1]['working_day'].pop('other_stat_values', None)
# #     print(dict_2[key1]['working_day'])
# #     AMR_df=pd.DataFrame()
#     for time in np.arange(0,48,1):
# #         print(time)
#         AMR_df=pd.DataFrame()
#         AMR_df['t{}'.format(time)]=[dict_2[key1]['working_day'][key2][time]*1000 for key2 in list(dict_2[key1]['working_day'].keys())]
#         category=pd.cut(AMR_df['t{}'.format(time)],bin)
#         category = category.to_frame()
#         category.columns = ['range']
#         df_new = pd.concat([AMR_df,category],axis = 1)
#         AMR_probability = pd.DataFrame({'probability': df_new.groupby(by = 'range', as_index=False).size() / df_new['range'].count()}).reset_index()
#         AMR_probability['kW']=[x.left for x in AMR_probability['range']]
#         values = AMR_probability.kW
#         probabilities = AMR_probability.probability
#         custom_discrete_dist = rv_discrete(values=(values, probabilities))
#         dict_MC_AMR[key1].update({'t{}'.format(time):custom_discrete_dist.rvs(size=size_of_MC)})
# #     print(dict_MC_AMR[key1])
    num_1=num_1+1
    
# np.save('dict_MC_AMR.npy',dict_MC_AMR)

# print('save dict_MC_AMR.npy')

IndentationError: expected an indented block (<ipython-input-287-552141eef0c5>, line 29)

In [273]:
np.save('dict_MC_AMR.npy',dict_MC_AMR)

print('save dict_MC_AMR.npy')

save dict_MC_AMR.npy

13

         t39         range
0   0.532235  (0.51, 0.61]
1   0.813303  (0.81, 0.91]
2   0.928273  (0.91, 1.01]
3   1.104054  (1.01, 1.11]
4   1.222758  (1.21, 1.31]
5   1.330968  (1.31, 1.41]
6   1.421454  (1.41, 1.51]
7   1.527980  (1.51, 1.61]
8   1.645443  (1.61, 1.71]
9   1.809779  (1.71, 1.81]
10  2.007406  (1.91, 2.01]
11  2.474063  (2.41, 2.51]
12  3.180531  (3.11, 3.21]

In [4]:
uniform_dist = uniform(loc = 0, scale = 20)
uniform_dist.rvs(size = 10, random_state = RANDOM_STATE)
uniform_dist
dist_array=np.array([20,20])
dist_array.rvs(size = 10, random_state = RANDOM_STATE)

array([12.91637212, 13.5034834 , 19.41407972, 17.69608729, 18.18131685,
       16.47185933,  9.73419442, 12.41987159, 12.87024926,  8.00739132])

# disContinus random variable

## generate scipy.stats._distn_infrastructure.rv_sample model

In [117]:
from scipy.stats import rv_discrete, rv_continuous
pclass_probability = pd.DataFrame({'probability': dataset.groupby(by = "pclass", as_index=False).size() / dataset.pclass.count()}).reset_index()


pclass_probability
values = pclass_probability.pclass
probabilities = pclass_probability.probability
custom_discrete_dist = rv_discrete(values=(values, probabilities))

# print(custom_discrete_dist)

custom_discrete_dist.rvs(size = 20)

array([2, 1, 3, 3, 1, 3, 1, 3, 3, 2, 3, 3, 3, 3, 1, 2, 2, 2, 1, 2])

In [107]:
custom_discrete_dist

# generate contineus random variable

In [70]:
# more link : https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.rv_continuous.html
# https://docs.scipy.org/doc/scipy/reference/generated/scipy.stats.rv_continuous.rvs.html
# https://stackoverflow.com/questions/22447797/how-do-you-use-scipy-stats-rv-continuous

In [71]:
# example with existing distribution

In [15]:
import pandas as pd
import numpy as np

#generate a dataframe with random number for age from 0 - 9
df_age = pd.DataFrame(np.random.randint(low=0, high=9, size=(100, 1)),columns = ['age'])
#set up bins
bin = [x for x in np.arange(-1,20,1)]

#use pd.cut function can attribute the values into its specific bins
category = pd.cut(df_age.age,bin)
category = category.to_frame()
category.columns = ['range']
#concatenate age and its bin
df_new = pd.concat([df_age,category],axis = 1)

In [38]:
df_age.age.count()

100

In [19]:
age_probability = pd.DataFrame({'probability': df_age.groupby(by = "age", as_index=False).size() / df_age.age.count()}).reset_index()

In [20]:
age_probability

   age  probability
0    0         0.12
1    1         0.12
2    2         0.14
3    3         0.09
4    4         0.20
5    5         0.06
6    6         0.05
7    7         0.10
8    8         0.12