Read raw files then cleaning into list+dict format
'area_data'=[
            {'area_name'='N1', 
                'sub_data'=[
                    {'sub_name': 'NIA', 
                        'feeder_data':[
                            {'feeder_name':'OUT01', 
                                'meatering_data':{'P':{'date_01': [p1,p2,p3,...p96], 'date_02':[p1,p2,p3,...p96]}, 
                                                  'Q':{'date_01': [q1,q2,q3,...q96], 'date_02':[q1,q2,q3,...q96]}}]}]}
                            ]
            }, 
            {'area_name'='C1'}]}

In [53]:
ex_dict={'N1':{'NIA':{'OUT01':{'P':{'01012018':['p1','p2','p3','p4','p5','p96'], 
                                   '02012018':'sample'}, 
                               
                               'Q':{'01012018':['q1','q2','q3','q4','q5','q96'], 
                                   '02012018':'sample'}}, 
                      'OUT02':'sample'}, 
               'NIB':'sample','NIU':'sample'}, 
         'C1':{'BKA':'sample', 'BKU':'sample', 'NVA':'sample', 'NVB':'sample','NVC':'sample', 'NVD':'sample',  
              'RGA':'sample', 'RSA':'sample', 'TMS':'sample'}}

In [55]:
ex_dict['N1']['NIA']['OUT01']['Q']['01012018']

['q1', 'q2', 'q3', 'q4', 'q5', 'q96']

In [59]:
import pandas as pd 
import os

os.chdir("raw_files")

read_file N1

In [62]:
df_1=pd.read_csv('NIA-P.csv', sep=',')

In [63]:
df_1.head()

,Date,Month,Year,Time,PS,Sub_name,VL,Feeder_name,Unit,Measurement,WERT_MIT,DIM
0,1,JAN,2018,00.00.00,PS,:NIA,115,FDR:TP1,MV,:P,4.170241,MW
1,1,JAN,2018,00.00.00,PS,:NIA,115,FDR:TP2,MV,:P,6.122674,MW
2,1,JAN,2018,00.00.00,PS,:NIA,22,FDR:INC01,MV,:P,4.224416,MW
3,1,JAN,2018,00.00.00,PS,:NIA,22,FDR:OUT01,MV,:P,1.094030,MW
4,1,JAN,2018,00.00.00,PS,:NIA,22,FDR:OUT02,MV,:P,0.540316,MW

In [68]:
list_time=df_1['Time'].unique()
list_substation=df_1['Sub_name'].unique()

In [69]:
print(list_substation)

[':NIA']

In [70]:
len(df_1)

376648

read_file C1

In [27]:
df_2=pd.read_csv('c1_2.csv', sep=',')

In [28]:
df_2.head()

,Area,Substation,Type,Feeder,Date1,Unnamed: 5,Unnamed: 6,Ia,Ib,Ic,MW,MVAR,PF
0,C1,BKA,HV_CB,01YB01,11/13/18,12:00:00,AM,40.148823,40.258686,39.697163,3.705960,1.307232,0.0
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,C1,BKA,HV_CB,01YB01,11/13/18,12:30:00,AM,38.256737,37.646385,37.536522,3.503040,1.127808,0.0
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,C1,BKA,HV_CB,01YB01,11/13/18,1:00:00,AM,38.745018,38.415428,37.719627,3.550032,1.174800,0.0

In [29]:
df_2=df_2.dropna(axis=0, how='all').copy()
df_2=df_2.reset_index().copy()
del df_2['index']

In [30]:
df_2.head()

,Area,Substation,Type,Feeder,Date1,Unnamed: 5,Unnamed: 6,Ia,Ib,Ic,MW,MVAR,PF
0,C1,BKA,HV_CB,01YB01,11/13/18,12:00:00,AM,40.148823,40.258686,39.697163,3.705960,1.307232,0.0
1,C1,BKA,HV_CB,01YB01,11/13/18,12:30:00,AM,38.256737,37.646385,37.536522,3.503040,1.127808,0.0
2,C1,BKA,HV_CB,01YB01,11/13/18,1:00:00,AM,38.745018,38.415428,37.719627,3.550032,1.174800,0.0
3,C1,BKA,HV_CB,01YB01,11/13/18,1:30:00,AM,41.454971,41.308487,41.052139,3.802080,1.354224,0.0
4,C1,BKA,HV_CB,01YB01,11/13/18,2:00:00,AM,40.637100,40.539444,40.234272,3.718776,1.330728,0.0

In [31]:
list_substation=df_2['Substation'].unique()

In [35]:
for x in list_substation:
    print(x)

BKA
BKU
NVA
NVB
NVC
NVD
RGA
RSA
TMS